<h1 *ngIf="chosenMobile.productName">The chosen product is {{chosenMobile.productName}}</h1>

<div class="phones-container">
  <!-- {{mobilePhone | json}} -->
  <!-- {{mobilePhone.productName}}
  {{mobilePhone.productImage}}
  {{mobilePhone.price}} -->
  <app-mobile-phone 
    [id]="mobilePhone.id"
    [productName]="mobilePhone.productName"
    [productImage]="mobilePhone.productImage"
    [price]="mobilePhone.price"
    [isActive]="mobilePhone.isActive"
    (onMobileChosen)="chooseMobile($event)"
    *ngFor="let mobilePhone of mobilePhones"
    ></app-mobile-phone>
</div>